<div id="rightside">
  <div id="rightside-config-hide">
    <button id="darkmode" type="button" title="Toggle Between Light and Dark Mode"><i class="fas fa-adjust"></i></button>
    <button id="hide-aside-btn" type="button" title="Toggle Between Single-column and Double-column"><i class="fas fa-arrows-alt-h"></i></button>
  </div>
  <div id="rightside-config-show">
    <button id="rightside-config" type="button" title="Settings"><i class="fas fa-cog fa-spin"></i></button>
    <button id="go-up" type="button" title="Back to Top"><span class="scroll-percent"></span><i class="fas fa-arrow-up"></i></button>
  </div>
</div>
