<div id="rightside">
  <div id="rightside-config-hide">
    <button id="darkmode" type="button" title="{{ site.data.languages[site.lang].rightside.night_mode_title }}"><i class="fas fa-adjust"></i></button>
    <button id="hide-aside-btn" type="button" title="{{ site.data.languages[site.lang].rightside.aside }}"><i class="fas fa-arrows-alt-h"></i></button>
  </div>
  <div id="rightside-config-show">
    <button id="rightside-config" type="button" title="{{ site.data.languages[site.lang].rightside.setting }}"><i class="fas fa-cog fa-spin"></i></button>
    <button id="go-up" type="button" title="{{ site.data.languages[site.lang].rightside.back_to_top }}"><span class="scroll-percent"></span><i class="fas fa-arrow-up"></i></button>
  </div>
</div>
