<header class="{% if page.page_type == 'home' %}full_page{% elsif page.page_type == 'post' %}post-bg{% else %}not-home-page{% endif %}" id="page-header">
  <nav id="nav">
    <span id="blog-info">
      <a class="nav-site-title" href="{{ '/' | relative_url }}"><span class="site-name">{{ site.title }}</span></a>
      {% if page.page_type == 'post' %}
      <a class="nav-page-title" href="{{ '/' | relative_url }}">
        <span class="site-name">{{ page.title }}</span>
        <span class="site-name"><i class="fa-solid fa-circle-arrow-left"></i><span> {{ site.data.languages[site.lang].post.back_to_home }}</span></span>
      </a>
      {% endif %}
    </span>
    <div id="menus">
      <div class="menus_items">
        <div class="menus_item">
          <a class="site-page" href="{{ '/' | relative_url }}">
            <i class="fas fa-house"></i>
            <span>{{ site.data.languages[site.lang].post.back_to_home }}</span>
          </a>
        </div>
        <div class="menus_item">
          <a class="site-page" href="{{ '/archives/' | relative_url }}">
            <i class="fas fa-archive"></i>
            <span>{{ site.data.languages[site.lang].page.archives }}</span>
          </a>
        </div>
        <div class="menus_item">
          <a class="site-page" href="{{ '/tags/' | relative_url }}">
            <i class="fas fa-tags"></i>
            <span>{{ site.data.languages[site.lang].page.tag }}</span>
          </a>
        </div>
        <div class="menus_item">
          <a class="site-page" href="{{ '/categories/' | relative_url }}">
            <i class="fas fa-folder-open"></i>
            <span>{{ site.data.languages[site.lang].page.category }}</span>
          </a>
        </div>
      </div>
      <div id="search-button">
        <a class="site-page social-icon search" href="javascript:void(0);">
          <i class="fas fa-search fa-fw"></i><span>{{ site.data.languages[site.lang].search.title }}</span>
        </a>
      </div>
      <div id="toggle-menu">
        <a class="site-page"><i class="fas fa-bars fa-fw"></i></a>
      </div>
    </div>
  </nav>

  {% if page.page_type == 'home' %}
  <div id="site-info">
    <h1 id="site-title">{{ site.title }}</h1>
  </div>
  <div id="scroll-down"><i class="fas fa-angle-down scroll-down-effects"></i></div>
  {% elsif page.page_type == 'post' %}
  <div id="post-info">
    <h1 class="post-title">{{ page.title }}</h1>
    <div id="post-meta">
      <div class="meta-firstline">
        <span class="post-meta-date">
          <i class="far fa-calendar-alt fa-fw post-meta-icon"></i>
          <span class="post-meta-label">{{ site.data.languages[site.lang].post.created }}</span>
          <time class="post-meta-date-created" datetime="{{ page.date | date_to_xmlschema }}">{{ page.date | date: '%Y-%m-%d' }}</time>
          <span class="post-meta-separator">|</span>
          <i class="fas fa-history fa-fw post-meta-icon"></i>
          <span class="post-meta-label">{{ site.data.languages[site.lang].post.updated }}</span>
          <time class="post-meta-date-updated" datetime="{{ page.last_modified_at | default: page.date | date_to_xmlschema }}">{{ page.last_modified_at | default: page.date | date: '%Y-%m-%d' }}</time>
        </span>
      </div>
    </div>
  </div>
  {% else %}
  <div id="page-site-info">
    <h1 id="site-title">{{ page.title | default: site.title }}</h1>
  </div>
  {% endif %}
</header>

<div id="sidebar">
  <div id="menu-mask"></div>
  <div id="sidebar-menus">
    <div class="avatar-img">
      <img src="{{ site.data.butterfly.avatar | relative_url }}" onerror="this.onerror=null;this.src='{{ '/assets/img/friend_404.gif' | relative_url }}'" alt="avatar">
    </div>
    <div class="site-data">
      <a href="{{ '/archives/' | relative_url }}"><h4>{{ site.posts.size }}</h4><span>{{ site.data.languages[site.lang].aside.articles }}</span></a>
      <a href="{{ '/tags/' | relative_url }}"><h4>{{ site.tags.size }}</h4><span>{{ site.data.languages[site.lang].aside.tags }}</span></a>
      <a href="{{ '/categories/' | relative_url }}"><h4>{{ site.categories.size }}</h4><span>{{ site.data.languages[site.lang].aside.categories }}</span></a>
    </div>
    <hr>
    <div class="menus_items">
      <a class="site-page" href="{{ '/' | relative_url }}">
        <i class="fas fa-house fa-fw"></i><span>{{ site.data.languages[site.lang].post.back_to_home }}</span>
      </a>
      <a class="site-page" href="{{ '/archives/' | relative_url }}">
        <i class="fas fa-archive fa-fw"></i><span>{{ site.data.languages[site.lang].page.archives }}</span>
      </a>
      <a class="site-page" href="{{ '/tags/' | relative_url }}">
        <i class="fas fa-tags fa-fw"></i><span>{{ site.data.languages[site.lang].page.tag }}</span>
      </a>
      <a class="site-page" href="{{ '/categories/' | relative_url }}">
        <i class="fas fa-folder-open fa-fw"></i><span>{{ site.data.languages[site.lang].page.category }}</span>
      </a>
    </div>
  </div>
</div>
